
:root {
    --primary: #A0D9D9;
    --secondary: #F7E49A;
    --font-display: 'Playfair Display', serif;
    --font-body: 'Open Sans', sans-serif;
}



* {
    margin: 0;
    padding: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
}

h1 {
    font-size: 40px;
    font-weight: 100;
}

h2 {
    font-family: var(--font-body);
    font-size: 20px;
    font-weight: 100;
}

h4{
    color: #707070;
    font-size: 24px;
    font-weight: 100;
    padding-bottom: 12px;
    line-height: 97%;
}

h5{
    color: #707070;
    font-family: var(--font-body);
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 97%;
    padding-bottom: 12px;
}

h6{
    color: #707070;
    padding: 8px 0;
    font-family: var(--font-body);

}

p{
    color: #707070;
    line-height: 98%;
    padding-bottom: 12px;
    font-size: 16px;
}

p,
li {
    font-family: var(--font-body);
}

p{
    color: black;
    text-align: left;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--font-body);
    /* background-color: var(--primary); */
    color: white;
}
.primary-button {
    font-size: 18px;
    font-weight: 600;
    background-color: var(--primary);
    font-family: var(--font-body);
    color:white;
    padding: 10% 2%;
    text-align: left;
    border: none;
}

img {
    width: 100%;
    height: auto;
  }

nav {
    background-color: var(--primary);
    height: 72px;
}
.flexbox {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
}

.logo {
    white-space: nowrap;
}

nav .logo,
footer .logo {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h3 {
    font-family: var(--font-display);
    font-size: 22pt;
    font-kerning: -70;
    font-weight: 400;
}
.logo-mobile{
    display: none;
}

.logo-star {
    color: var(--secondary);
    font-family: var(--font-display);
    font-size: 32pt;
}


nav .logo-star {
    align-self: flex-start;
    padding-top: 8px;
}

.button-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.button-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    transition: 0.24s;
}

#burger-menu {
    display: none;
}
.main-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(10px, 1fr));
    grid-template-rows: auto;
    padding: 5% 10%;
}
.hero-section{
    background-color: var(--primary);
}
.header-title {
    grid-area: 1 / 1 / span 4 / span 6;
    padding: 0% 0% 5% 0;
}
.header-image{
    grid-area: 1 / 7 / span 6 / span 12;
    padding: 0% 0% 0% 0;
}
.header-subhead{
    grid-area: 5 / 1 / span 1 / span 6;
    padding: 0% 0% 5% 0;
}
.header-button{
    grid-area: 6 / 1 / span 1 / span 3;
    padding: 0% 0% 5% 0;
}

.casestudySD{
    grid-area: 1 / 1 / span 6 / span 8;
    padding: 0% 0% 5% 0;
}
.cs-box1{
    grid-area: 1 / 9 / span 4 / span 4;
    padding: 0% 0% 5% 0;
    background-color: #F7E49A;
    padding: 16px;
    height: fit-content;
    min-width: 200px;
    max-width: 300px;
    transform: translateY(18%);
    margin-left: 12px;
}
.casestudyCER{
    grid-area: 1 / 5 / span 6 / span 8;
    padding: 0% 0% 5% 0;
}
.cs-box2{
    grid-area: 1 / 1 / span 4 / span 4;
    padding: 0% 0% 5% 0;
    background-color: #CBE8D4;
    padding: 16px;
    height: fit-content;
    min-width: 200px;
    max-width: 300px;
    margin-right: 12px;
    
}
.cs-button {
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(160,217,217, 0);
    font-family: var(--font-body);
    color:#707070;
    padding: 4% 2%;
    text-align: left;
    border: none;
}
.casestudyTA1{
    grid-area: 1 / 1 / span 6 / span 4;
    padding: 0% 0% 5% 0;
}
.cs-box3{
    grid-area: 1 / 5 / span 4 / span 4;
    padding: 0% 0% 5% 0;
    background-color: var(--secondary);
    padding: 16px;
    height: fit-content;
    min-width: 200px;
    max-width: 300px;
    transform: translateY(18%);
    margin-left: 12px;
    margin-right: 12px;
    
}
.casestudyTA2{
    grid-area: 1 / 9 / span 6 / span 4;
    padding: 0% 0% 5% 0;
}

.contact{
    background-color: white;
    display: flex;
    justify-content: center;
    
}
.details{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}
.starpic{
    max-width: 300px;
    padding-bottom: 8px;
}
.span{
    background-color: white;
    padding-top: 24px;
}

footer {
    width: 100%;
    height: auto;
    position: bottom;
    bottom: 0;
    background: black;
}

footer .links {
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0px;
}

footer .link {
    color: white;
    display: flex;
    justify-self: center;
    align-self: center;
}

.preloader{
    background-color: var(--secondary);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.preloader img{
    animation: spin 4s ease;
    width:150px;
    
  }
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(360deg);
     }
    50% {
      transform: rotate(720deg);
    }
    75% {
        transform: rotate(360deg);
      }
      100% {
        transform: rotate(0deg);
      }
  }

@media only screen and (max-width: 720px) and (min-device-width:320px) {

    .main-grid {
        grid-template-columns: repeat(4,1fr);
        padding: 2% 4%; 
    }   

    .header-title{
        transform: translateY(-10%);
    }
    .header-image{
        display: none;
    }

    .header-title{
        grid-area: 1 / 1 / span 1 / span 4;
        padding: 0% 0% 5% 0;
    }
    .header-subhead{
        grid-area: 2 / 1 / span 1 / span 4;
        padding: 0% 0% 5% 0;
    }
    .header-button{
        grid-area: 3 / 1 / span 1 / span 4;
        padding: 0% 0% 5% 0;
    }
    
    .button-nav {
        display: none;
    }

    #burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    }    

    .toplogo {
    display: none;
    }
    .logo-mobile{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    }
    .logo-star {
    font-size: 24pt;
    padding-left: 4px;
    }
   .CS-container{
       padding: 0% 5% 0% 5%;
       
   }
   .cs-box1{
       margin-left: 0;
       transform: translateY(0);
   }
   .cs-box2{
    margin-right: 0;
    }
.cs-box3{
    margin-right: 0;
    margin-left: 0;
    transform: translateY(0);
    }
}

@media only screen and (min-device-width:721px) and (max-device-width: 1200px) {

    h1 {
       font-size: 3.5rem; 

    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.5rem;
    }

  
    h6 {

    }

}